#calculator{
    border: 1px solid rgbrgb(231, 228, 228);
    border-radius: 5px;
    width: 200px;
}

#display {
    margin:10px;
    width:100%;
    font-size: 25px;
}
.button-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
.button{
    width:45px;
    height:45px;
    margin:3px;
}